/*
Team 1
  Chih-Yin Chen
  Mathew Harbour-Nagy
  Yuanbo Yang
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #2c3f35
}

form {
  margin: 30px 0;
}

input[type=text] {
  text-align: left;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 250px;
  height: 30px;
}

#remember {
  font-size: small;
}

button {
  background-color: #6B705C;
  color: beige;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  transition: all 0.5s;
}

button:hover {
  background-color: beige;
  color: #2c3f35;
  border-radius: 10px;
}

form a {
  text-decoration: none;
  color: #2c3f35;
}
